# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml

# IDE / editor
/.idea
/.vscode
/.fleet
/.zed
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node / build
/node_modules
/public/build
/public/hot
/public/storage

# Laravel / framework
/storage/*.key
/storage/framework/*
/storage/pail
/bootstrap/cache/*.php
/vendor
/auth.json